<div class='create_note modal'>

    <form (submit)="createNote($event)" >
      <div class="c_n_header modal_header">
        <span class="title">Create a note</span>
      </div>
      <div class="c_n_middle modal_middle">
        <input type="text" placeholder='Title..' required spellCheck="false" autoComplete="false" class="n_title" autoFocus />
        <textarea placeholder='Your note..' required spellCheck='false' class="n_content" autoComplete='false'></textarea>
      </div>
      <div class="c_n_bottom modal_bottom">
        <a href="#" class='c_n_cancel sec_btn' (click)="_Toggle($event)" >Back</a>
        <input type="submit" class='c_n_add pri_btn' value='Add note' />
      </div>
    </form>

</div>
